<div class='col-6 row h-100'>
  <div class="col-9 container bg-white h-100 offset-md-3 p-1 overflow-auto">
    <div class="row m-5">
      <div class="col-12 icalia-login mb-5"></div>
      <h1 class="col-12 fs-1 mb-0">Welcome Icalier!</h1>
      <span class="col-12">Sign In to continue</span>
      <%= form_for(resource, as: resource_name, html: { class: 'col-12 mb-5', 'data-turbo' => 'false'}, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="field">
          <%= f.label :name, class: 'form_label text-secondary mb-1' %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: 'name', class: 'form-control' %>
        </div>

        <div class="field mt-3">
          <%= f.label :email, class: 'form_label text-secondary mb-1' %><br />
          <%= f.email_field :email, autocomplete: 'email', class: 'form-control' %>
        </div>

        <div class="field mt-3">
          <%= f.label :password, class: 'form_label text-secondary mb-1' %>
          <% if @minimum_password_length %>
          <em class="form_label text-secondary mb-1">(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: 'new-password', class: 'form-control' %>
        </div>

        <div class="field mt-3">
          <%= f.label :password_confirmation, class: 'form_label text-secondary mb-1' %><br />
          <%= f.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control' %>
        </div>

        <div class="actions">
          <%= f.submit 'Sign up', class: 'btn btn-primary btn-sm px-4 py-1 mt-4' %>
        </div>
      <% end %>
      <div class="col-6 offset-md-3 text-secondary text-center mb-5">
        <p>Or you can sign up with:</p>
      </div>
      <p class='col-12 mt-5 text-secondary text-center'>Already have an account? <%= link_to "Login", new_session_path(resource_name), class: 'link-primary text-decoration-none' %></p><br />
    </div>
  </div>
</div>
<div class="col-6 icalia-logo-side"></div>
