<div>
  <div class="col-12 my-3">
    <p class="<%= 'bg-transparent border-0 m-0' unless notice || alert %> notice alert-warning alert-dismissible fade show"><%= notice %></p>
    <p class="<%= 'bg-transparent border-0 m-0' unless notice || alert %> alert alert-danger alert-dismissible fade show" role='alert'><%= alert %></p>
  </div>
  <%= link_to "Home", root_path %>
  <h2>Here's the list of Users that you can give an arrow today!</h2>
  <% unless @users.blank? %>
    <%= render @users %>  
  <% end %>
</div>
