<div class="col-12 container">
  <div class="row mt-1 bg-warning">
    <p class="<%= 'd-none' unless notice %> alert alert-warning m-0" role="alert"><%= notice %></p>
    <p class="<%= 'd-none' unless alert %> alert alert-danger m-0" role="alert"><%= alert %></p>
  </div>
  <div class="row d-flex">
    <div class="col-2 d-flex bg-light justify-content-center"><div class="avatar"></div></div>
    <div class="col-10 container bg-light">
      <div class="row mt-5 mb-2">
        <h5 class="fw-bolder text-secondary"><%= current_user.name %></h5>
      </div>
      <div class="row my-2">
        <h3 class="fw-bolder text-warning"><%= current_user.owned_arrows.count * 20 %> points</h3>
      </div>
      <div class="row my-2">
        <%= link_to '#', class: 'col-1 btn btn-primary btn-sm fw-bolder py-2', data: { 'bs-toggle': 'modal', 'bs-target': '#newArrowModal' } do %>
          Create arrow
        <% end %>
      </div>
    </div>
  </div>
  <% unless @arrows.blank? %>
    <div class="row d-flex flex-row px-5 justify-content-between">
      <%= render @arrows %>
    </div>
  <% end %>
</div>

<!-- Modal -->
<div class="modal fade" id="newArrowModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= render partial: 'arrows/form', locals: { arrow: current_user.authored_arrows.build } %>
    </div>
  </div>
</div>
