<div class="col-12 container bg-primary">
  <div class="row mt-1 bg-warning">
    <p class="<%= 'd-none' unless notice %> alert alert-warning m-0" role="alert"><%= notice %></p>
    <p class="<%= 'd-none' unless alert %> alert alert-danger m-0" role="alert"><%= alert %></p>
  </div>
  <h2>Here are your current arrows</h2>
  <% unless @arrows.blank? %>
    <%= render @arrows %>
  <% end %>
</div>

