<div class='col-6 row h-75 my-1'>
  <div class="col-9 container bg-white h-100 offset-md-3 p-1 overflow-auto">
    <div class="row m-5">
      <h3 class="col-12 fs-3 mb-5">Give a new arrow</h3>
      <%= form_with scope: :arrow, url: arrows_path, local: true, html: { class: 'col-12 mb-5', 'data-turbo' => 'false'} do |f| %>
        <%= render "devise/shared/error_messages", resource: @arrow %>
        <div class="field">
          <%= f.label :owner_id, 'for who?'.upcase, class: 'form_label text-secondary mb-2' %>
          <%= f.collection_select :owner_id, @users, :id, :name,
                                  { :prompt => 'Select a partner' },
                                  class: 'form_control form-select mb-5', autofocus: true %>
        </div>
        <div class="field mt-4">
          <%= f.label :description, 'Write here your reason...', class: 'form_label text-secondary mb-2 w-100' %>
          <%= f.text_area :description, class: 'form_control mb-5' %>
        </div>
        <div class="col-auto align-self-end">
          <%= link_to 'Cancel', root_path, class: 'btn btn-secondary btn-sm px-4 py-1 mt-4' %>
          <%= f.submit 'send'.upcase, class: 'btn btn-primary btn-sm px-4 py-1 mt-4' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="col-6"></div>


