<!DOCTYPE html>
<html>
  <head>
    <title>Arrows</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
  </head>

  <body class='mx-auto'>
    <div class="container-fluid pb-1 bg-ic-green vh-100">
      <div class="row d-lg-block nav-cont">
        <% if user_signed_in? %>
          <span>Hi <strong><%= current_user.name %></strong>, with mail: <%= current_user.email %></span>
          <p><%= button_to 'Log out', destroy_user_session_path, method: :delete %></p>
          <p><%= link_to 'Edit Account', edit_user_registration_path %></p>
        <% end %>
      </div>
      <main class='row h-100'>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
